<div style="max-width: 400px;">
    <label>E-mail:</label>
    <a href="mailto: ujjwal2154@gmail.com">
        <mat-icon style="float: right;">mail_outline</mat-icon>
    </a>
</div>
<div style="max-width: 400px;">
    <label>Mobile number:</label>
    <a href="tel:+919635004814">
        <mat-icon style="float: right;"> call</mat-icon>
    </a>
</div>
<div style="max-width: 400px;">
    <label>Whatsap number:</label>
    <a href="https://wa.me/919635004814?text=Hi" target="blank">
        <mat-icon style="float: right;">whatsapp</mat-icon>
    </a>
</div>
<div style="max-width: 400px;">
    <label>Skype:</label>
    <a href="skype:+919635004814">
        <mat-icon style="float: right;">Skype</mat-icon>
    </a>
</div>