<div>
    <label>E-mail:</label>
    <a href="mailto: ujjwal2154@gmail.com">
        <mat-icon>mail_outline</mat-icon>
    </a>
</div>
<div>
    <label>Mobile number:</label>
    <a href="tel:+919635004814">
        <mat-icon> call</mat-icon>
    </a>
</div>
<div>
    <label>Whatsap number:</label>
    <a href="https://wa.me/919635004814?text=Hi" target="blank">
        <mat-icon>whatsapp</mat-icon>
    </a>
</div>
<div>
    <label>Skype:</label>
    <a href="skype:+919635004814">
        <mat-icon>Skype</mat-icon>
    </a>
</div>