.banner-img {
    display: block;
    width: 370px;
    height: 500px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

#back-btn {
    position: fixed;
    bottom: 20px;
    z-index: 99;
}

.genres-list {
    padding-left: 70px !important;
}

.boolet {
    padding: 0 6px;
    cursor: pointer;
    font-size: 48px;
    color: skyblue;
}

.boolet.active {
    color: darkblue !important;
}

.mat-mini-fab mat-icon {
    font-size: 17px;
    line-height: 23px;
}