<div class="login-page">
    <mat-card *ngIf="isLoginVisible">
        <mat-card-content>
            <form class="login-form middle" #loginForm="ngForm" (ngSubmit)="login()">
                <h2 class="title">Login</h2>
                <mat-error style="text-align: left; padding: 50px 0;" *ngIf="isLoginFailed">
                    The username and password were not recognized
                </mat-error>
                <mat-form-field>
                    <input matInput placeholder="User Name" [(ngModel)]="loginReq.username" name="username" required />
                    <mat-error> Please provide a valid User Name </mat-error>
                </mat-form-field>
                <br />
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" [(ngModel)]="loginReq.password" name="password" required />
                    <mat-error> Please provide a valid password </mat-error>
                </mat-form-field>
                <button mat-raised-button class="btn-login" color="primary" [disabled]="!loginForm.form.valid">
          Login
        </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>