<mat-card class="example-card" *ngIf="Movie">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image">
            <img [src]="Movie.posterurl" (error)="setDefImg(Movie)">
        </div>
        <mat-card-title>{{Movie.title}}</mat-card-title>
        <mat-card-subtitle>{{Movie.year}}</mat-card-subtitle>
    </mat-card-header>
    <img class="banner" [src]="Movie.posterurl" (error)="setDefImg(Movie)" alt="Photo of a {{Movie.title}}">
    <mat-card-content>
        <p *ngIf="Movie.storyline.length<=220">{{Movie.storyline}}</p>
        <p *ngIf="Movie.storyline.length>220">{{Movie.storyline | slice:0:220}}...</p>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="gotoMovieDetails(Movie.id)">Details</button>
            <button mat-raised-button (click)="gotoMovieEdit(Movie.id)">Edit</button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>