<mat-card *ngIf="Movie" (mouseenter)="scrollImgStart()" (mouseleave)="scrollImgStop()">
    <mat-card-header (click)="gotoMovieDetails(Movie.id)" class="hand">
        <div mat-card-avatar class="example-header-image">
            <img [src]="movieLogo" (error)="setDefLogo()">
        </div>
        <mat-card-title>{{Movie.title}}</mat-card-title>
        <mat-card-subtitle>{{Movie.year}}</mat-card-subtitle>
    </mat-card-header>
    <img class="banner hand" [src]="currentImg" [style.opacity]="opacity" (error)="setDefImg()" alt="Photo of a {{Movie.title}}" (click)="gotoMovieDetails(Movie.id)">
    <mat-card-content>
        <div class="story">
            {{Movie.storyline}}
        </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions>
            <!-- <button mat-raised-button color="primary" (click)="gotoMovieDetails(Movie.id)">Details</button> -->
            <button mat-mini-fab color="primary" (click)="gotoMovieEdit(Movie.id)" [hasRole]="['ADMIN']"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab color="grey" style="margin-left: 2px" (click)="addToCart(Movie)" [disabled]="isInCart(Movie.id)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button style="float: right;" mat-mini-fab color="warn" (click)="deleteMovie(Movie.id)" [hasRole]="['ADMIN']"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>